# 교량을 기준으로 가장 가까운 하천 관측소 매칭

In [1]:
import pandas as pd

In [2]:
gyo_df = pd.read_csv(r"C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\교량.csv")

In [3]:
gyo_df

      Unnamed: 0    교량명    시도명 시군구명    교량시작점위도     교량시작점경도  교량높이
0              0    진위교    경기도  평택시  37.100899  127.064133   4.6
1              1    풍계교    경기도  이천시  37.133443  127.602141   4.5
2              2    태평교    경기도  여주시  37.200325  127.545522   3.0
3              3    장평교    경기도  이천시  37.225055  127.524158   4.0
4              4    풍계교    경기도  이천시  37.149231  127.626386   7.0
...          ...    ...    ...  ...        ...         ...   ...
5438       35183  인천신항교  인천광역시  연수구  37.348628  126.659157  17.3
5439       35184   아암1교  인천광역시  연수구  37.419259  126.634377   5.1
5440       35185   아암2교  인천광역시  연수구  37.429930  126.623233   5.0
5441       35186   아암3교  인천광역시   중구  37.431460  126.614248   5.3
5442       35187    연도교  인천광역시  옹진군  37.655434  125.713257   2.9

[5443 rows x 7 columns]

In [4]:
gyo_df = gyo_df.drop(columns=['Unnamed: 0'])

In [5]:
gyo_df

        교량명    시도명 시군구명    교량시작점위도     교량시작점경도  교량높이
0       진위교    경기도  평택시  37.100899  127.064133   4.6
1       풍계교    경기도  이천시  37.133443  127.602141   4.5
2       태평교    경기도  여주시  37.200325  127.545522   3.0
3       장평교    경기도  이천시  37.225055  127.524158   4.0
4       풍계교    경기도  이천시  37.149231  127.626386   7.0
...     ...    ...  ...        ...         ...   ...
5438  인천신항교  인천광역시  연수구  37.348628  126.659157  17.3
5439   아암1교  인천광역시  연수구  37.419259  126.634377   5.1
5440   아암2교  인천광역시  연수구  37.429930  126.623233   5.0
5441   아암3교  인천광역시   중구  37.431460  126.614248   5.3
5442    연도교  인천광역시  옹진군  37.655434  125.713257   2.9

[5443 rows x 6 columns]

In [6]:
gyo_df = gyo_df.rename({'교량명':'bridge_name', '시도명':'address', '시군구명':'etc_address',
        '교량시작점위도':'latitude', '교량시작점경도':'longitude', '교량높이':'brid_height_origin'}, axis=1)

In [7]:
location_start = [[gyo_df["latitude"][i],gyo_df["longitude"][i]] for i in range(len(gyo_df))]

In [8]:
gyo_df["location_start"] = location_start

In [9]:
from haversine import haversine

In [10]:
wl_station_df = pd.read_csv(r"C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\수위_관측소.csv")

In [11]:
wl_station_df.isna().sum()

Unnamed: 0      0
station_code    0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
dtype: int64

In [12]:
wl_station_df = wl_station_df.drop(["Unnamed: 0"], axis=1)

In [13]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [14]:
loc_list_wl = []

In [15]:
for i in range(0, len(wl_station_df)):
    location(wl_station_df,i, loc_list_wl)

In [16]:
loc_list_wl

[[37.10666666666667, 127.43361111111112],
 [37.115, 127.63527777777779],
 [37.1625, 127.63416666666667],
 [37.202222222222225, 127.71916666666667],
 [37.23111111111111, 127.71388888888889],
 [37.25472222222222, 127.68083333333334],
 [37.183055555555555, 127.68666666666667],
 [37.27305555555555, 127.68333333333334],
 [37.28361111111111, 127.68472222222222],
 [37.29611111111111, 127.64750000000001],
 [37.32611111111112, 127.61555555555555],
 [37.33388888888889, 127.57305555555556],
 [37.328611111111115, 127.60333333333332],
 [37.26694444444444, 127.46083333333334],
 [37.46416666666667, 127.54305555555555],
 [37.33305555555556, 127.535],
 [37.4225, 127.62972222222221],
 [37.3825, 127.5625],
 [37.38111111111111, 127.54972222222221],
 [37.401111111111106, 127.5375],
 [37.401111111111106, 127.53777777777778],
 [37.40833333333333, 127.54138888888889],
 [37.38861111111111, 127.4888888888889],
 [37.46611111111111, 127.5275],
 [37.48638888888889, 127.49],
 [37.51166666666666, 127.65111111111112],
 [37.52472222222222, 127.37166666666666],
 [37.88305555555556, 127.54833333333333],
 [37.874722222222225, 127.52777777777777],
 [37.831388888888895, 127.51805555555555],
 [37.755, 127.41027777777778],
 [37.72083333333334, 127.42444444444445],
 [37.723333333333336, 127.4225],
 [37.73388888888889, 127.41472222222222],
 [37.71805555555556, 127.41000000000001],
 [37.595555555555556, 127.33916666666666],
 [37.33222222222223, 127.23916666666666],
 [37.406388888888884, 127.26305555555555],
 [37.3925, 127.25166666666667],
 [37.399166666666666, 127.29277777777777],
 [37.428888888888885, 127.30805555555555],
 [37.47138888888889, 127.29416666666667],
 [37.525, 127.28472222222221],
 [37.52722222222222, 127.28333333333333],
 [37.541666666666664, 127.25],
 [37.5475, 127.23916666666666],
 [37.544444444444444, 127.24138888888889],
 [37.74027777777778, 127.19555555555556],
 [37.70944444444445, 127.18361111111112],
 [37.69166666666666, 127.16472222222222],
 [37.59861111111111, 126.81055555555555],
 [37.65, 127.15194444444445],
 [37.64527777777778, 127.14361111111111],
 [37.60388888888889, 127.15],
 [37.54555555555555, 127.11055555555555],
 [37.524166666666666, 127.07805555555555],
 [37.37, 127.10833333333333],
 [37.46888888888889, 127.12249999999999],
 [37.49805555555556, 127.07444444444444],
 [37.519444444444446, 127.06388888888888],
 [37.52305555555555, 127.0625],
 [37.53333333333333, 127.05],
 [37.737500000000004, 127.05333333333333],
 [37.65277777777778, 127.05388888888889],
 [37.62416666666667, 127.05],
 [37.5925, 127.07055555555556],
 [37.51611111111111, 126.99472222222222],
 [37.51444444444444, 126.95666666666666],
 [37.516666666666666, 126.95],
 [37.40472222222222, 126.90305555555557],
 [37.452222222222225, 126.8938888888889],
 [37.47888888888889, 126.84583333333333],
 [37.50833333333333, 126.87416666666665],
 [37.53194444444444, 126.76055555555556],
 [37.59861111111111, 126.81055555555555],
 [37.602222222222224, 126.79333333333334],
 [37.602222222222224, 126.79333333333334],
 [37.602222222222224, 126.79333333333334],
 [37.52305555555555, 126.75972222222222],
 [37.541666666666664, 126.76138888888889],
 [37.57333333333334, 126.74638888888889],
 [37.574444444444445, 126.75888888888889],
 [37.574444444444445, 126.75944444444444],
 [37.583333333333336, 126.77222222222223],
 [37.58972222222222, 126.78277777777778],
 [37.69583333333333, 126.66416666666667],
 [37.76027777777778, 126.76138888888889],
 [38.11083333333333, 126.96055555555556],
 [38.105000000000004, 127.01583333333333],
 [38.08972222222222, 127.00777777777778],
 [38.05638888888888, 127.0175],
 [38.12416666666667, 127.27166666666666],
 [38.09, 127.22055555555556],
 [38.06527777777777, 127.20583333333333],
 [38.0625, 127.13083333333333],
 [38.06083333333333, 127.12916666666666],
 [38.00222222222222, 127.23583333333333],
 [38.010555555555555, 127.21416666666667],
 [38.01777777777777, 127.14277777777778],
 [38.02305555555555, 127.13805555555557],
 [38.08722222222222, 127.07222222222222],
 [38.03666666666666, 127.10444444444444],
 [38.03611111111111, 127.10388888888889],
 [38.03138888888889, 127.0761111111111],
 [37.88, 127.05083333333333],
 [37.99277777777778, 127.07666666666667],
 [38.00888888888889, 127.05611111111111],
 [38.026944444444446, 126.98333333333333],
 [37.984722222222224, 126.91888888888889],
 [38.00277777777778, 126.87805555555555],
 [37.90416666666667, 126.74194444444444],
 [37.821111111111115, 126.78388888888888],
 [37.2175, 127.02027777777778],
 [36.9975, 127.32888888888888],
 [37.00222222222222, 127.26777777777778],
 [37.08166666666667, 127.27194444444444],
 [36.97361111111111, 127.18277777777779],
 [37.11027777777778, 127.18444444444445],
 [36.98361111111111, 127.08],
 [37.135, 127.06],
 [37.12361111111111, 126.99972222222222],
 [37.095, 127.05194444444444],
 [37.096111111111114, 127.02888888888889],
 [37.052499999999995, 126.9975],
 [37.016666666666666, 127.01666666666667],
 [36.97805555555556, 127.03361111111111],
 [36.96805555555556, 126.97583333333334],
 [36.93333333333333, 127.0],
 [36.980000000000004, 126.92805555555556],
 [36.980000000000004, 126.92805555555556],
 [37.731944444444444, 126.52222222222223],
 [37.56111111111111, 126.60416666666666],
 [37.56055555555555, 126.60305555555556],
 [37.56027777777778, 126.60138888888888],
 [37.56111111111111, 126.60277777777777],
 [37.348333333333336, 126.875],
 [37.32277777777778, 126.85694444444444],
 [37.00055555555556, 126.8]]

In [17]:
wl_station_df["location"] = loc_list_wl

In [18]:
wl_station_code = []
def closest_station1(x):
    for i in range(len(gyo_df)):
        min_index = 0
        for j in range(len(wl_station_df)):
            a = haversine(gyo_df['location_start'][i], wl_station_df['location'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        wl_station_code.append(wl_station_df['station_code'][min_index])

In [19]:
closest_station1(wl_station_df)

In [20]:
gyo_df["wl_station_code"] = wl_station_code

In [21]:
gyo_df

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code
0,진위교,경기도,평택시,37.100899,127.064133,4.6,"[37.100899, 127.064133]",1101663
1,풍계교,경기도,이천시,37.133443,127.602141,4.5,"[37.133443, 127.602141]",1007605
2,태평교,경기도,여주시,37.200325,127.545522,3.0,"[37.200325, 127.545522]",1007615
3,장평교,경기도,이천시,37.225055,127.524158,4.0,"[37.225055, 127.524158]",1007645
4,풍계교,경기도,이천시,37.149231,127.626386,7.0,"[37.149231, 127.626386]",1007615
...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,17.3,"[37.34862800000001, 126.659157]",1202660
5439,아암1교,인천광역시,연수구,37.419259,126.634377,5.1,"[37.419259, 126.634377]",1201653
5440,아암2교,인천광역시,연수구,37.429930,126.623233,5.0,"[37.42993, 126.623233]",1201653
5441,아암3교,인천광역시,중구,37.431460,126.614248,5.3,"[37.43146, 126.614248]",1201653
5442,연도교,인천광역시,옹진군,37.655434,125.713257,2.9,"[37.655434, 125.713257]",1201620

In [22]:
gyo_df.to_csv("교량과_가까운_수위관측소_매칭.csv")