In [1]:
import pandas as pd

In [9]:
gyo = pd.read_csv('C:/Users/Shin/Desktop/for-kr-pjt/NoonMap-Project/data/file_data/교량_rawdata.csv', encoding='CP949')

C:\Users\Shin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
gyo.tail(10)

,교량명,시설물종별등급구분,도로종류,도로노선명,도로노선번호,도로노선방향,시도명,시군구명,시군구코드,소재지도로명주소,...,내진설계적용여부,내진성능확보여부,교량보수보강내역,교량보수보강비용,설계활하중,허용통행하중,하부통과제한높이,관리기관명,관리기관전화번호,데이터기준일자
35180,주상천2교,2,6,군도,NaN,3,전라북도,부안군,45800,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,NaN,한국농어촌공사 새만금본부,000-0000-0000,2020-06-01
35181,지경교,1,5,시도,NaN,3,전라북도,군산시,45130,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,NaN,한국농어촌공사 새만금본부,000-0000-0000,2020-06-01
35182,운산교,1,6,군도,NaN,3,전라북도,부안군,45800,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,NaN,한국농어촌공사 새만금본부,000-0000-0000,2020-06-01
35183,인천신항교,1,99,기타,NaN,3,인천광역시,연수구,28185,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,17.3,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35184,아암1교,1,3,"특별,광역시도",NaN,3,인천광역시,연수구,28185,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,5.1,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35185,아암2교,1,3,"특별,광역시도",NaN,3,인천광역시,연수구,28185,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,NaN,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35186,아암3교,1,3,"특별,광역시도",NaN,3,인천광역시,중구,28110,NaN,...,미적용,N,NaN,NaN,DB-24,43.2,5.3,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35187,연도교,2,99,기타,NaN,1,인천광역시,옹진군,28720,NaN,...,미적용,N,NaN,NaN,DB-13.5,13.5,2.9,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35188,연평도항 북측 연도교,99,6,군도,NaN,1,인천광역시,옹진군,28720,NaN,...,미적용,N,NaN,NaN,DB-13.5,13.5,NaN,해양수산부 인천지방해양수산청,000-0000-0000,2020-06-01
35189,헬기이착륙패드 연결교량,2,99,기타,NaN,3,강원도,원주시,42130,NaN,...,미적용,N,NaN,NaN,기타,0.0,NaN,기타 산림항공본부,033-769-6010,2020-06-01

In [4]:
print(gyo.columns)

Index(['교량명', '시설물종별등급구분', '도로종류', '도로노선명', '도로노선번호', '도로노선방향', '시도명', '시군구명',
       '시군구코드', '소재지도로명주소', '소재지지번주소', '교량시작점위도', '교량시작점경도', '교량종료점위도',
       '교량종료점경도', '교량연장', '교량폭', '교량보도폭', '교량높이', '차로수', '상하행선분리여부', '상부구조형식',
       '교량준공년도', '최종안전점검일자', '최종안전점검결과', '최종안전점검유형', '내진설계적용여부', '내진성능확보여부',
       '교량보수보강내역', '교량보수보강비용', '설계활하중', '허용통행하중', '하부통과제한높이', '관리기관명',
       '관리기관전화번호', '데이터기준일자'],
      dtype='object')

In [11]:
gyo = gyo.drop(['시설물종별등급구분', '도로종류', '도로노선명', '도로노선번호', '도로노선방향', '시군구코드',
                '소재지도로명주소', '소재지지번주소', '교량연장', '교량폭', '교량보도폭', '차로수', '상하행선분리여부',
                '상부구조형식', '교량준공년도', '최종안전점검일자', '최종안전점검결과', '최종안전점검유형',
                '내진설계적용여부', '내진성능확보여부', '교량보수보강내역', '교량보수보강비용', '설계활하중', '허용통행하중',
                '하부통과제한높이', '관리기관명', '관리기관전화번호', '데이터기준일자'], axis=1)

In [12]:
gyo

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0
...,...,...,...,...,...,...,...,...
35185,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0
35186,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3
35187,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9
35188,연평도항 북측 연도교,인천광역시,옹진군,0.000000,0.000000,0.000000,0.000000,3.4
35189,헬기이착륙패드 연결교량,강원도,원주시,37.410666,127.798818,37.409703,127.799189,0.0

In [13]:
sido_groupby = gyo.groupby(["시도명"])

In [14]:
sido_groupby.size()

시도명
강원도        4017
경기도        5946
경상남도       3789
경상북도       5210
광주광역시       399
대구광역시       599
대전광역시       487
부산광역시       606
서울특별시       483
세종특별자치시     199
울산광역시       645
인천광역시       438
전라남도       3228
전라북도       2826
제주특별자치도     463
충청남도       3056
충청북도       2799
dtype: int64

In [15]:
df1 = gyo.loc[gyo["시도명"]=="경기도"]

In [16]:
df2 = gyo.loc[gyo["시도명"]=="서울특별시"]

In [17]:
df3 = gyo.loc[gyo["시도명"]=="인천광역시"]

In [18]:
# 수도권 내 교량만 남긴 데이터
gyoryang = pd.concat([df1, df2, df3])

In [20]:
gyoryang

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0
...,...,...,...,...,...,...,...,...
35184,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1
35185,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0
35186,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3
35187,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9
35188,연평도항 북측 연도교,인천광역시,옹진군,0.000000,0.000000,0.000000,0.000000,3.4

In [24]:
# 결측값 처리
idx = gyoryang[gyoryang['교량시작점위도']==0.0].index

In [25]:
gyoryang.drop(idx, inplace=True)

In [26]:
gyoryang

         교량명    시도명 시군구명    교량시작점위도     교량시작점경도    교량종료점위도     교량종료점경도  교량높이
0        진위교    경기도  평택시  37.100899  127.064133  37.101935  127.063864   4.6
1        풍계교    경기도  이천시  37.133443  127.602141  37.133710  127.601766   4.5
2        태평교    경기도  여주시  37.200325  127.545522  37.200578  127.545179   3.0
3        장평교    경기도  이천시  37.225055  127.524158  37.225717  127.523299   4.0
4        풍계교    경기도  이천시  37.149231  127.626386  37.148733  127.626393   7.0
...      ...    ...  ...        ...         ...        ...         ...   ...
35183  인천신항교  인천광역시  연수구  37.348628  126.659157  37.350676  126.663295  17.3
35184   아암1교  인천광역시  연수구  37.419259  126.634377  37.419820  126.637932   5.1
35185   아암2교  인천광역시  연수구  37.429930  126.623233  37.426764  126.623265   5.0
35186   아암3교  인천광역시   중구  37.431460  126.614248  37.429514  126.614258   5.3
35187    연도교  인천광역시  옹진군  37.655434  125.713257  37.655486  125.713936   2.9

[5443 rows x 8 columns]

In [28]:
gyoryang[gyoryang['교량종료점위도']==0.0]

       교량명  시도명 시군구명    교량시작점위도     교량시작점경도  교량종료점위도  교량종료점경도  교량높이
12923  간매교  경기도  여주시  37.285625  127.691624      0.0      0.0   5.0

In [30]:
# 교량종료점위도/경도의 경우, 교량시작점위도/경도보다 결측값이 하나 더 있음 -> 교량시작점위도/경도를 사용
gyoryang.drop(columns=['교량종료점위도', '교량종료점경도'], inplace=True)

In [31]:
gyoryang

         교량명    시도명 시군구명    교량시작점위도     교량시작점경도  교량높이
0        진위교    경기도  평택시  37.100899  127.064133   4.6
1        풍계교    경기도  이천시  37.133443  127.602141   4.5
2        태평교    경기도  여주시  37.200325  127.545522   3.0
3        장평교    경기도  이천시  37.225055  127.524158   4.0
4        풍계교    경기도  이천시  37.149231  127.626386   7.0
...      ...    ...  ...        ...         ...   ...
35183  인천신항교  인천광역시  연수구  37.348628  126.659157  17.3
35184   아암1교  인천광역시  연수구  37.419259  126.634377   5.1
35185   아암2교  인천광역시  연수구  37.429930  126.623233   5.0
35186   아암3교  인천광역시   중구  37.431460  126.614248   5.3
35187    연도교  인천광역시  옹진군  37.655434  125.713257   2.9

[5443 rows x 6 columns]

In [33]:
gyoryang.to_csv('교량.csv')