In [1]:
import pandas as pd

In [96]:
gyo_df = pd.read_csv("file_data\교량_data.csv", encoding="CP949")

In [97]:
gyo_df

,교량명,도로노선명,시도명,시군구명,시군구코드,소재지지번주소,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이
0,진위교,일반국도1호선,경기도,평택시,41220,경기도 평택시 진위면 견산리,37.100899,127.064133,37.101935,127.063864,4.6
1,풍계교,일반국도3호선,경기도,이천시,41500,경기도 이천시 장호원읍 선읍리,37.133443,127.602141,37.133710,127.601766,4.5
2,태평교,일반국도3호선,경기도,여주시,41670,경기도 여주시 가남읍 태평리,37.200325,127.545522,37.200578,127.545179,3.0
3,장평교,일반국도3호선,경기도,이천시,41500,경기도 이천시 대월면 장평리,37.225055,127.524158,37.225717,127.523299,4.0
4,풍계교,일반국도37호선,경기도,이천시,41500,경기도 이천시 장호원읍 풍계리,37.149231,127.626386,37.148733,127.626393,7.0
...,...,...,...,...,...,...,...,...,...,...,...
6862,아암1교,"특별,광역시도",인천광역시,연수구,28185,인천광역시 연수구 송도동,37.419259,126.634377,37.419820,126.637932,5.1
6863,아암2교,"특별,광역시도",인천광역시,연수구,28185,인천광역시 연수구 송도동,37.429930,126.623233,37.426764,126.623265,5.0
6864,아암3교,"특별,광역시도",인천광역시,중구,28110,인천광역시 중구 신흥동3가,37.431460,126.614248,37.429514,126.614258,5.3
6865,연도교,기타,인천광역시,옹진군,28720,인천광역시 옹진군 연평면 연평리,37.655434,125.713257,37.655486,125.713936,2.9
6866,연평도항 북측 연도교,군도,인천광역시,옹진군,28720,인천광역시 옹진군 연평면 연평리,0.000000,0.000000,0.000000,0.000000,3.4

In [98]:
gyo_df = gyo_df.drop(columns=['도로노선명', '시군구코드', '소재지지번주소'])

In [99]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0
...,...,...,...,...,...,...,...,...
6862,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1
6863,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0
6864,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3
6865,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9
6866,연평도항 북측 연도교,인천광역시,옹진군,0.000000,0.000000,0.000000,0.000000,3.4

## 결측값 처리

In [100]:
gyo_df.loc[df["교량시작점위도"] == 0]

              교량명    시도명     시군구명  교량시작점위도  교량시작점경도  교량종료점위도  교량종료점경도  교량높이
1681         괴목정교    경기도  수원시 장안구      0.0      0.0      0.0      0.0   4.0
1683          대월교    경기도  수원시 장안구      0.0      0.0      0.0      0.0   5.0
1684          동남교    경기도  수원시 장안구      0.0      0.0      0.0      0.0   3.5
1685          두견교    경기도  수원시 장안구      0.0      0.0      0.0      0.0   6.0
1686          방화교    경기도  수원시 장안구      0.0      0.0      0.0      0.0   4.0
...           ...    ...      ...      ...      ...      ...      ...   ...
6645          연무교  인천광역시      강화군      0.0      0.0      0.0      0.0   3.4
6646          철산교  인천광역시      강화군      0.0      0.0      0.0      0.0   2.8
6648          향경교  인천광역시      강화군      0.0      0.0      0.0      0.0   3.0
6831          진등교  인천광역시       중구      0.0      0.0      0.0      0.0   7.6
6866  연평도항 북측 연도교  인천광역시      옹진군      0.0      0.0      0.0      0.0   3.4

[1424 rows x 8 columns]

In [101]:
idx_1 = gyo_df[gyo_df["교량시작점위도"]==0.0].index

In [102]:
idx_1

Int64Index([1681, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691,
            ...
            6634, 6636, 6639, 6641, 6643, 6645, 6646, 6648, 6831, 6866],
           dtype='int64', length=1424)

In [103]:
gyo_df = gyo_df.drop(idx_1)

In [104]:
gyo_df

        교량명    시도명 시군구명    교량시작점위도     교량시작점경도    교량종료점위도     교량종료점경도  교량높이
0       진위교    경기도  평택시  37.100899  127.064133  37.101935  127.063864   4.6
1       풍계교    경기도  이천시  37.133443  127.602141  37.133710  127.601766   4.5
2       태평교    경기도  여주시  37.200325  127.545522  37.200578  127.545179   3.0
3       장평교    경기도  이천시  37.225055  127.524158  37.225717  127.523299   4.0
4       풍계교    경기도  이천시  37.149231  127.626386  37.148733  127.626393   7.0
...     ...    ...  ...        ...         ...        ...         ...   ...
6861  인천신항교  인천광역시  연수구  37.348628  126.659157  37.350676  126.663295  17.3
6862   아암1교  인천광역시  연수구  37.419259  126.634377  37.419820  126.637932   5.1
6863   아암2교  인천광역시  연수구  37.429930  126.623233  37.426764  126.623265   5.0
6864   아암3교  인천광역시   중구  37.431460  126.614248  37.429514  126.614258   5.3
6865    연도교  인천광역시  옹진군  37.655434  125.713257  37.655486  125.713936   2.9

[5443 rows x 8 columns]

In [105]:
gyo_df.loc[gyo_df["교량종료점위도"] == 0]

      교량명  시도명 시군구명    교량시작점위도     교량시작점경도  교량종료점위도  교량종료점경도  교량높이
3449  간매교  경기도  여주시  37.285625  127.691624      0.0      0.0   5.0

In [106]:
# 교량 종료점 위도/경도가 누락된 행이 있으므로 교량 시작점 위도/경도를 기준으로 진행

In [107]:
gyo_df.to_csv("file_data\교량_결측값_제거.csv", encoding='CP949')

In [108]:
gyo_df = pd.read_csv("file_data\교량_결측값_제거.csv", encoding="CP949")

In [109]:
gyo_df = gyo_df.drop(["Unnamed: 0"], axis=1)

In [110]:
gyo_df

        교량명    시도명 시군구명    교량시작점위도     교량시작점경도    교량종료점위도     교량종료점경도  교량높이
0       진위교    경기도  평택시  37.100899  127.064133  37.101935  127.063864   4.6
1       풍계교    경기도  이천시  37.133443  127.602141  37.133710  127.601766   4.5
2       태평교    경기도  여주시  37.200325  127.545522  37.200578  127.545179   3.0
3       장평교    경기도  이천시  37.225055  127.524158  37.225717  127.523299   4.0
4       풍계교    경기도  이천시  37.149231  127.626386  37.148733  127.626393   7.0
...     ...    ...  ...        ...         ...        ...         ...   ...
5438  인천신항교  인천광역시  연수구  37.348628  126.659157  37.350676  126.663295  17.3
5439   아암1교  인천광역시  연수구  37.419259  126.634377  37.419820  126.637932   5.1
5440   아암2교  인천광역시  연수구  37.429930  126.623233  37.426764  126.623265   5.0
5441   아암3교  인천광역시   중구  37.431460  126.614248  37.429514  126.614258   5.3
5442    연도교  인천광역시  옹진군  37.655434  125.713257  37.655486  125.713936   2.9

[5443 rows x 8 columns]

# 하천 수위 관측소와 가장 가까운 교량 찾기

In [116]:
location_start = [[gyo_df["교량시작점위도"][i],gyo_df["교량시작점경도"][i]] for i in range(len(gyo_df))]

In [117]:
location_start

[[37.100899, 127.064133],
 [37.133443, 127.602141],
 [37.200325, 127.545522],
 [37.225055, 127.524158],
 [37.149231, 127.626386],
 [37.169174, 127.651686],
 [37.016898, 127.0135],
 [37.00924000000001, 127.21061],
 [37.012182, 127.298276],
 [37.587136, 126.792184],
 [37.291282, 127.50988],
 [37.299263, 127.560079],
 [37.453328000000006, 127.25239],
 [37.449014, 127.260161],
 [37.599955, 126.771568],
 [36.936816, 126.891598],
 [37.01753, 127.01833899999998],
 [37.00418300000001, 127.052591],
 [37.00648, 126.979678],
 [37.01066, 126.991691],
 [37.015933, 127.317516],
 [37.031917, 127.35144],
 [37.033474, 127.35278999999998],
 [37.07262100000001, 127.400952],
 [37.07148, 127.407282],
 [37.070162, 127.413831],
 [37.069891, 127.419705],
 [37.073244, 127.427609],
 [37.074367, 127.428605],
 [37.040297, 126.934932],
 [37.098657, 126.90266499999998],
 [37.134969, 126.91143999999998],
 [37.225113, 127.262715],
 [37.225011, 127.265057],
 [37.22671500000001, 127.26999],
 [37.227942, 127.272003],
 [37.232453, 127.28031],
 [37.255193, 127.330032],
 [37.254755, 127.33493],
 [37.254881, 127.357189],
 [37.173678, 126.936618],
 [37.269407, 127.213529],
 [37.278456, 127.224528],
 [37.285068, 127.232816],
 [37.302904, 127.235062],
 [37.312474, 127.240716],
 [37.337673, 127.24978],
 [37.355416, 127.246295],
 [37.37036, 127.244878],
 [37.373321, 127.244392],
 [37.37790800000001, 127.241726],
 [37.713874, 126.54484],
 [37.706418, 126.561331],
 [36.91075900000001, 126.908809],
 [36.917497, 126.91078799999998],
 [36.953092, 126.915695],
 [36.987967, 126.938319],
 [37.289793, 127.500555],
 [37.295042, 127.541362],
 [37.301329, 127.573042],
 [36.979765, 127.072796],
 [36.978607, 127.077545],
 [36.977609, 127.081367],
 [36.976284, 127.090594],
 [37.08782, 127.465346],
 [37.094972, 127.475273],
 [37.094968, 127.475268],
 [37.102592, 127.519308],
 [37.106566, 127.534232],
 [37.11150900000001, 127.552918],
 [37.110955, 127.556468],
 [37.108947, 127.565709],
 [37.609494, 126.74017],
 [37.350688, 127.602253],
 [37.36936, 127.584194],
 [37.283658, 127.674422],
 [37.283316, 127.690969],
 [37.283005, 127.694753],
 [37.274035, 127.711277],
 [37.273802, 127.743269],
 [37.106555, 127.433259],
 [37.111533, 127.429893],
 [37.133822, 127.404286],
 [37.135071, 127.402497],
 [37.155549, 127.384865],
 [37.167768, 127.37896299999998],
 [37.170216, 127.364223],
 [37.176113, 127.340778],
 [37.185987, 127.330272],
 [36.971234, 126.870734],
 [37.234072, 127.296139],
 [36.936761, 127.045028],
 [36.966954, 127.071085],
 [37.012191, 127.22481299999998],
 [37.330901, 127.148311],
 [37.330161, 127.155365],
 [37.338796, 127.171456],
 [37.339463, 127.176394],
 [37.340126, 127.191157],
 [37.341953, 127.198048],
 [37.347343, 127.209728],
 [37.34867, 127.212386],
 [37.362241, 127.229666],
 [37.370704, 127.23404],
 [37.105885, 127.613184],
 [37.11466400000001, 127.605492],
 [37.116048, 127.605194],
 [37.115467, 127.606889],
 [37.117477, 126.900494],
 [37.124115, 126.898918],
 [37.12800900000001, 126.897751],
 [37.133418, 126.895848],
 [37.143457, 126.892568],
 [37.154231, 126.891905],
 [37.169333, 126.890498],
 [37.194605, 126.879201],
 [37.197673, 126.878777],
 [37.200035, 126.878684],
 [37.216463, 126.872888],
 [37.223317, 126.875712],
 [37.226713, 126.877398],
 [37.243679, 126.890021],
 [37.244267, 126.890433],
 [37.244389, 126.890336],
 [37.246503, 126.891943],
 [37.248452, 126.893294],
 [37.25114, 126.895273],
 [37.253836, 126.898001],
 [37.155364, 126.891721],
 [37.619238, 126.740559],
 [37.610553, 126.741227],
 [37.610519, 126.741082],
 [37.610344, 126.740132],
 [37.610502, 126.740092],
 [37.60612, 126.74756],
 [37.603792, 126.762095],
 [37.020483, 127.241802],
 [37.254504, 127.362648],
 [37.254634, 127.362631],
 [37.254525, 127.380106],
 [37.254136, 127.38501200000002],
 [37.254287, 127.389867],
 [37.25565, 127.402315],
 [37.245482, 127.44],
 [37.248507, 127.445159],
 [37.24978400000001, 127.446942],
 [37.265618, 127.46228700000002],
 [37.107406, 127.218519],
 [37.109895, 127.2181],
 [37.10984600000001, 127.217919],
 [37.122334, 127.213502],
 [37.122366, 127.21339],
 [37.1267, 127.213325],
 [37.135722, 127.210594],
 [37.143455, 127.201285],
 [37.145071, 127.200929],
 [37.15324, 127.204837],
 [37.154595, 127.205333],
 [37.16058, 127.206492],
 [37.166743, 127.205245],
 [37.17445900000001, 127.203536],
 [37.178724, 127.202845],
 [37.182636, 127.202397],
 [37.19476, 127.199678],
 [37.195769, 127.199617],
 [37.204686, 127.202758],
 [37.088565, 126.942286],
 [37.033162, 127.138817],
 [37.041575, 127.15439],
 [37.070489, 127.19048],
 [37.071236, 127.200949],
 [37.071357, 127.200876],
 [37.086113, 127.209803],
 [37.009423, 127.043447],
 [37.013112, 127.046694],
 [37.014508, 127.04788700000002],
 [37.053099, 127.163763],
 [37.072208, 127.207382],
 [37.073242, 127.209207],
 [37.073304, 127.209199],
 [37.078407, 127.21088799999998],
 [37.090064, 127.210807],
 [37.156974, 126.909774],
 [37.156589, 126.897994],
 [37.149031, 126.921867],
 [37.157556, 126.901391],
 [37.009571, 126.817523],
 [37.621575, 126.738711],
 [37.622907, 126.737427],
 [37.63163, 126.72898899999998],
 [37.621438, 126.73862],
 [37.29644, 127.615019],
 [37.300044, 127.616358],
 [37.300029, 127.616186],
 [37.28896500000001, 127.615321],
 [37.299555, 127.615965],
 [37.297536, 127.614779],
 [37.301304, 127.617067],
 [37.344419, 127.61911200000002],
 [37.341758, 127.62173500000002],
 [37.108549, 126.816827],
 [37.123578, 126.83236200000002],
 [37.125036, 126.835146],
 [37.125631, 126.836583],
 [37.12853, 126.850122],
 [37.133514, 126.856414],
 [37.140685, 126.861008],
 [37.1511, 126.870429],
 [37.144586, 126.864174],
 [37.155858, 126.887537],
 [37.154452, 126.890868],
 [37.1543, 126.892612],
 [37.103113, 126.811954],
 [37.094567, 126.805377],
 [37.079208, 126.798023],
 [37.065809, 126.799416],
 [37.146735, 127.387422],
 [37.218957, 127.043095],
 [37.218836, 127.043379],
 [37.219453, 127.045383],
 [37.2288, 127.049748],
 [37.594085, 126.780905],
 [37.147726, 126.924319],
 [37.13552, 126.912199],
 [37.137839, 126.93088600000002],
 [37.135218, 126.930907],
 [37.135491, 126.929328],
 [37.130695, 126.930691],
 [37.126386, 126.930109],
 [37.120297, 126.929194],
 [37.111821, 126.926402],
 [37.10658400000001, 126.924654],
 [37.076182, 126.920029],
 [37.072763, 126.914421],
 [37.072429, 126.913803],
 [37.071895, 126.912972],
 [37.07187, 126.913151],
 [37.071605, 126.91476000000002],
 [37.200342, 127.022078],
 [37.202486, 127.024016],
 [37.206882, 127.027104],
 [37.21036, 127.028885],
 [37.382876, 127.286104],
 [37.382561, 127.285922],
 [37.380735, 127.295159],
 [37.380547, 127.295261],
 [37.380451, 127.29497],
 [37.381221, 127.294516],
 [37.378599, 127.300195],
 [37.378448, 127.300125],
 [37.39131, 127.25733],
 [37.390994, 127.257191],
 [37.586325, 126.793266],
 [37.215187, 127.667541],
 [37.205765, 127.667707],
 [37.202904, 127.66643899999998],
 [37.195467, 127.663135],
 [37.18232800000001, 127.662858],
 [37.199227, 127.664605],
 [37.199389, 127.001507],
 [37.197314, 127.005809],
 [37.196838, 127.006643],
 [37.197206, 127.006077],
 [37.196735, 127.007068],
 [37.197515, 126.964293],
 [37.197623, 126.964765],
 [37.197566, 126.967725],
 [37.197554, 126.968016],
 [37.197502, 126.969849],
 [37.197441, 126.969899],
 [37.195181, 127.010691],
 [37.192521, 126.940354],
 [37.197264, 126.969604],
 [37.197574, 126.969727],
 [37.19863, 126.980733],
 [37.20001, 126.989175],
 [37.19531, 127.011802],
 [37.198761, 126.980871],
 [37.192641, 126.940824],
 [37.200118, 126.990409],
 [37.08792, 127.436674],
 [37.078102, 127.43469],
 [37.081571, 127.434676],
 [37.079045, 127.434392],
 [37.078345, 127.434883],
 [37.071211, 127.438736],
 [37.046442, 127.438084],
 [37.057256, 127.440229],
 [37.059035, 127.440862],
 [37.034763, 127.441603],
 [37.012862, 127.436594],
 [37.014051, 127.436603],
 [37.016934, 127.43773],
 [37.018831, 127.439103],
 [37.020788, 127.440197],
 [37.021577, 127.440841],
 [37.080772, 127.435282],
 [37.671906, 126.640559],
 [37.684904, 126.607974],
 [37.053092, 127.163909],
 [37.395638, 127.55092],
 [36.942038, 126.99203],
 [36.951594, 126.990855],
 [36.954117, 126.989564],
 [36.957766, 126.98565],
 [36.966721, 126.96815],
 [36.975105, 126.964415],
 [36.979673, 126.96331],
 [36.982334, 126.963687],
 [36.986574, 126.966544],
 [36.987016, 126.96706],
 [36.988544, 126.969391],
 [36.991645, 126.974579],
 [36.992776, 126.976522],
 [36.996911, 126.983166],
 [37.001074, 126.987148],
 [37.007856, 126.98891299999998],
 [37.008934, 126.988871],
 [37.012088, 126.987921],
 [37.014685, 126.986465],
 [37.584322, 126.782793],
 [37.29580900000001, 127.518006],
 [37.237789, 127.520077],
 [37.237866, 127.52048],
 [37.234188, 127.517478],
 [37.235579, 127.518232],
 [37.241615, 127.523312],
 [37.252655, 127.523736],
 [37.254923, 127.523342],
 [37.267836, 127.524491],
 [37.28243, 127.525755],
 [37.288643, 127.523695],
 [37.292632, 127.521314],
 [37.29696, 127.516336],
 [37.298674, 127.513455],
 [37.302463, 127.506462],
 [37.302902, 127.50558],
 [37.30631, 127.499336],
 [37.307264, 127.491475],
 [37.30666, 127.48048500000002],
 [37.308185, 127.473326],
 [37.122667, 126.916466],
 [37.123947, 126.912223],
 [37.125174, 126.912112],
 [37.078236, 126.913243],
 [37.449024, 127.25964],
 [37.239673, 126.820577],
 [37.241856, 126.81949],
 [37.24687, 126.816036],
 [37.255444, 126.813367],
 [37.30931500000001, 127.468894],
 [37.310592, 127.464835],
 [37.311336, 127.462558],
 [37.311457, 127.462551],
 [37.312503, 127.460194],
 [37.314463, 127.45201000000002],
 [37.312822, 127.446958],
 [37.31291, 127.437082],
 [37.31251500000001, 127.438104],
 [37.314171, 127.434712],
 [37.318791, 127.425598],
 [37.319277, 127.424523],
 [37.317579, 127.428119],
 [37.320098, 127.422934],
 [37.321181, 127.421126],
 [37.321339, 127.420459],
 [37.339323, 127.401606],
 [37.342574, 127.398105],
 [37.342478, 127.397445],
 [37.344197, 127.395152],
 [37.344173, 127.394407],
 [37.353502, 127.381024],
 [37.353259, 127.380831],
 [37.35676, 127.374271],
 [37.358011, 127.372502],
 [37.357512, 127.372398],
 [37.357684000000006, 127.372594],
 [37.358947, 127.370038],
 [37.365383, 127.354516],
 [37.365752, 127.352224],
 [37.372089, 127.31876499999998],
 [37.371903, 127.315942],
 [37.375408, 127.305604],
 [37.377418, 127.301914],
 [37.254252, 127.137635],
 [37.251553, 127.141756],
 [37.252456, 127.140416],
 [37.248713, 127.14708799999998],
 [37.238977, 127.162669],
 [37.239099, 127.162202],
 [37.23627800000001, 127.166467],
 [37.23644, 127.166546],
 [37.23238900000001, 127.176428],
 [37.233216, 127.174571],
 [37.230612, 127.180568],
 [37.227753, 127.188345],
 [37.226086, 127.192462],
 [37.225012, 127.194555],
 [37.219085, 127.201632],
 [37.218075, 127.202407],
 [37.21574, 127.20415],
 [37.213538, 127.206129],
 [37.21522, 127.206396],
 [37.207691, 126.819234],
 [37.81653, 126.791999],
 [38.214736, 127.139114],
 [37.522374, 127.373854],
 [37.514428, 127.379806],
 [37.508073, 127.387104],
 [37.511425, 127.447418],
 [37.50954, 127.45021],
 [37.4277, 127.537554],
 [37.505733, 127.494974],
 [37.528169, 127.47657],
 [37.630715, 127.48525],
 [37.65554, 127.481837],
 [37.677598, 127.481852],
 [37.688282, 127.464713],
 [37.700875, 127.454482],
 [38.01762700000001, 127.211703],
 [38.019256, 127.190933],
 [38.021236, 127.169495],
 [38.032484, 127.102393],
 [37.976832, 126.946364],
 [37.834633, 127.15363899999998],
 [37.892774, 127.20288899999998],
 [37.912112, 127.216003],
 [37.931923, 127.225844],
 [37.966527, 127.249872],
 [37.976283, 127.247866],
 [37.997104, 127.24598],
 [38.012486, 127.247525],
 [38.041169, 127.265936],
 [38.114287, 127.291503],
 [37.632265, 127.350839],
 [37.676869, 127.375081],
 [37.676816, 127.375148],
 [37.695509, 127.383292],
 [37.710221, 127.394754],
 [37.700633, 127.386523],
 [37.710119, 127.395001],
 [37.725416, 127.409337],
 [37.733194, 127.410665],
 [37.757306, 127.436392],
 [37.768877, 127.447509],
 [37.776995, 127.463182],
 [37.803403, 127.48915],
 [37.823391, 127.518553],
 [37.825093, 127.521851],
 [38.075375, 127.389819],
 [38.089162, 127.391388],
 [38.095104, 127.391561],
 [37.725395, 127.40935],
 [37.718469, 127.410586],
 [37.586198, 127.205855],
 [37.648348, 127.365994],
 [37.572475, 127.324551],
 [37.812922, 126.792491],
 [37.754876, 126.802829],
 [37.80085, 126.792934],
 [37.544603, 127.30333600000002],
 [38.088124, 127.079801],
 [37.675218, 127.154007],
 [37.687185, 127.135865],
 [37.686903, 127.136039],
 [37.688583, 127.13308700000002],
 [37.706917, 127.113818],
 [37.588903, 127.204058],
 [37.574966, 127.221087],
 [37.571889, 127.226015],
 [37.977216, 127.064919],
 [38.004148, 127.065614],
 [38.040574, 127.066176],
 [37.511964, 127.441505],
 [37.822569, 127.516175],
 [37.71522, 127.183908],
 [37.653732, 127.161226],
 [37.65736500000001, 127.158516],
 [37.66993, 127.153464],
 [37.740351, 127.195237],
 [37.741223, 127.195641],
 [37.740985, 127.195449],
 [37.744237, 127.198198],
 [37.745794, 127.200765],
 [37.74699, 127.205202],
 [37.753264, 127.216061],
 [37.794116, 127.231061],
 [37.795287, 127.234962],
 [37.795892, 127.238403],
 [37.822817, 127.263545],
 [37.832931, 127.267684],
 [37.569184, 127.733964],
 [37.570637, 127.74078],
 [37.888502, 126.758291],
 [37.894231, 126.751638],
 [37.90022, 126.745941],
 [37.461797, 127.52922],
 [37.464593, 127.526586],
 [37.470305, 127.521788],
 [37.545304, 127.244743],
 [37.542165, 127.25214],
 [37.53035300000001, 127.282616],
 [37.530097, 127.282584],
 [37.531729, 127.298733],
 [37.531409, 127.298618],
 [37.532588, 127.301837],
 [37.533319, 127.304562],
 [37.536595, 127.34031],
 [37.515391, 127.424224],
 [37.508031, 127.387089],
 [37.966496, 127.249932],
 [37.745737, 127.427415],
 [37.728158, 127.407619],
 [37.537062, 127.331476],
 [37.90355200000001, 126.824128],
 [37.555471, 127.311593],
 [37.504447, 127.49084],
 [37.50426, 127.494756],
 [37.503912, 127.496993],
 [37.502785, 127.499811],
 [37.499497, 127.509494],
 [37.499253, 127.515166],
 [37.499075, 127.518968],
 [37.49185, 127.533939],
 [37.489889, 127.538317],
 [37.487794, 127.541049],
 [37.48383, 127.543757],
 [37.483502, 127.561922],
 [37.483706, 127.56188799999998],
 [38.016102, 127.154701],
 [38.016328, 127.149027],
 [38.017956, 127.141737],
 [38.021396, 127.130461],
 [38.087846, 127.265868],
 [38.091624, 127.26596],
 [38.095575, 127.272991],
 [37.741944, 127.197089],
 [37.785431, 127.224213],
 [37.786427, 127.22446200000002],
 [37.790702, 127.228595],
 [37.847692, 127.280471],
 [37.823363, 127.51859],
 [37.825152, 127.521872],
 [37.544222, 127.700086],
 [37.550518, 127.714644],
 [37.551508, 127.715832],
 [37.904095, 126.824525],
 [37.88798, 126.812686],
 [37.888021, 126.801091],
 [37.88494, 126.792984],
 [37.87851, 126.79268799999998],
 [37.872643, 126.786648],
 [37.563435, 127.720948],
 [37.565982, 127.725322],
 [37.569782, 127.737233],
 [37.571255, 127.741824],
 [37.577262, 127.748557],
 [37.850835, 126.788331],
 [37.48644, 127.583895],
 [37.49032800000001, 127.588322],
 [37.499454, 127.598012],
 [37.500608, 127.599822],
 [37.501276, 127.601746],
 [37.501974, 127.604938],
 [37.504494, 127.617865],
 [37.505418, 127.620289],
 [37.516143, 127.638486],
 [37.515386, 127.64057],
 [37.518739, 127.661261],
 [37.522815, 127.665381],
 [37.533651, 127.675466],
 [37.536577, 127.679303],
 [37.537701, 127.686433],
 [37.565984, 127.725333],
 [37.569173, 127.73397],
 [37.739385, 127.508523],
 [37.817014, 127.514644],
 [37.839477, 127.506711],
 [37.890075, 127.546972],
 [37.92802800000001, 127.493646],
 [37.935063, 127.489165],
 [37.93797, 127.490127],
 [37.957522, 127.472682],
 [37.970215, 127.457873],
 [37.989352, 127.441794],
 [37.849466, 127.19587],
 [37.940226, 127.188183],
 [37.956806, 127.191065],
 [37.964975, 127.193024],
 [37.985607, 127.180774],
 [38.03179, 127.195843],
 [38.029093, 127.065355],
 [37.784892, 127.218412],
 [37.793423, 127.212055],
 [37.882531, 127.547812],
 [37.740906, 126.814521],
 [37.896457, 127.52883],
 [37.865749, 127.292253],
 [37.882537, 127.301786],
 [37.893461, 127.303169],
 [37.89845800000001, 127.302605],
 [37.941488, 127.300885],
 [38.015853, 127.155532],
 [37.917903, 126.72808700000002],
 [37.910918, 126.717902],
 [37.906592, 126.712495],
 [37.901652, 126.704923],
 [37.902704, 126.696281],
 [37.903601, 126.692225],
 [37.904524, 126.687482],
 [38.169652, 127.10398899999998],
 [37.901717, 126.705357],
 [37.648218, 127.279529],
 [37.64812, 127.279492],
 [37.645308, 127.289541],
 [37.645227, 127.289547],
 [37.642436, 127.295399],
 [37.64148, 127.29964],
 [37.642688, 127.296415],
 [37.640747, 127.30297],
 [37.640644, 127.302949],
 [37.656209, 127.348933],
 [37.656145, 127.349059],
 [37.656892, 127.351697],
 [37.656784, 127.35173],
 [37.657198, 127.35678500000002],
 [37.657296, 127.35678],
 [37.657361, 127.35886200000002],
 [37.65736, 127.358846],
 [37.657252, 127.363304],
 [37.657329, 127.363315],
 [37.656922, 127.366171],
 [37.65577, 127.365752],
 [37.660861, 127.367252],
 [37.660833, 127.367028],
 [37.652966, 127.365832],
 [37.652987, 127.365677],
 [37.657, 127.36355],
 [37.657484, 127.363311],
 [37.65609600000001, 127.36484],
 [37.939827, 127.285942],
 [37.93991, 127.286052],
 [37.939963, 127.28391299999998],
 [37.958294, 127.26076],
 [37.958024, 127.260615],
 [37.965087, 127.256232],
 [37.966261, 127.249513],
 [37.969168, 127.250859],
 [37.97697, 127.326827],
 [38.005875, 127.351927],
 [38.005985, 127.351906],
 [38.022051, 127.364161],
 [38.025426, 127.362224],
 [38.046226, 127.366223],
 [38.046294, 127.365993],
 [38.053566, 127.374873],
 [38.063849, 127.38218],
 [37.97229, 126.902832],
 [37.972157, 126.903175],
 [37.970736, 126.901963],
 [37.981585, 126.909608],
 [37.979153, 126.930937],
 [37.968327, 126.899122],
 [37.90269, 126.696385],
 [37.94689, 127.300976],
 [37.946782, 127.30083799999998],
 [37.954492, 127.30532],
 [37.954498, 127.30518],
 [37.977046, 127.326745],
 [37.98442, 127.33574099999998],
 [37.98448, 127.335619],
 [38.004596, 127.347473],
 [38.004659, 127.347387],
 [38.015754, 127.363282],
 [38.015769, 127.36314],
 [38.01844000000001, 127.364937],
 [38.018419, 127.3648],
 [38.02200300000001, 127.36406399999998],
 [38.025374, 127.362125],
 [38.053642, 127.374784],
 [38.063889, 127.382077],
 [37.858582, 127.516404],
 [37.949982, 127.302066],
 [37.983638, 127.334709],
 [37.996636, 127.340267],
 [38.068395, 127.386527],
 [37.650569, 127.201267],
 [37.980847, 126.91763799999998],
 [37.756925, 126.686818],
 [37.7898, 126.679249],
 [37.82699, 126.696921],
 [37.839573, 126.732251],
 [37.85789000000001, 126.768016],
 [37.864764, 126.761664],
 [37.866636, 126.756187],
 [37.868371, 126.753852],
 [37.885528, 126.747467],
 [37.887711, 126.747401],
 [37.646828, 127.183035],
 [37.646268, 127.186098],
 [37.645884, 127.189114],
 [37.647784, 127.192806],
 [37.77215, 126.682586],
 [37.915326, 126.829268],
 [37.948549, 126.839723],
 [37.958345, 126.857013],
 [37.966472, 126.895961],
 [37.802716, 127.347249],
 [37.805327, 127.343762],
 [37.805336, 127.343692],
 [37.817371, 127.337979],
 [37.81727100000001, 127.337942],
 [37.821053000000006, 127.331585],
 [37.821133, 127.331613],
 [37.82141, 127.331445],
 [37.820849, 127.33132],
 [37.823422, 127.321719],
 [37.823359, 127.321646],
 [37.825701, 127.32018899999998],
 [37.825655, 127.320105],
 [37.827464, 127.31883899999998],
 [37.827417, 127.318769],
 [37.828871, 127.31471],
 [37.82876, 127.314695],
 [37.82878400000001, 127.311466],
 [37.828691, 127.311402],
 [37.828585, 127.304708],
 [37.828491, 127.30472],
 [37.828532, 127.302613],
 [37.828441, 127.30265],
 [37.830926, 127.291206],
 [37.832004, 127.289979],
 [37.84458400000001, 127.28484],
 [37.749682, 127.431432],
 [37.749637, 127.431363],
 [37.756884, 127.404994],
 [37.759232, 127.401394],
 [37.761599, 127.397373],
 [37.772329, 127.381357],
 [37.791686, 127.367719],
 [37.79499000000001, 127.365502],
 [37.79955800000001, 127.351607],
 [37.50275, 127.473907],
 [37.502634, 127.473898],
 [37.648691, 127.174235],
 [37.860694, 127.057647],
 [37.864106, 127.053525],
 [37.866992, 127.050021],
 [37.881165, 127.03788],
 [37.881979, 127.037175],

In [118]:
gyo_df["location_start"] = location_start

In [119]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이,location_start
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6,"[37.100899, 127.064133]"
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5,"[37.133443, 127.602141]"
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0,"[37.200325, 127.545522]"
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0,"[37.225055, 127.524158]"
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0,"[37.149231, 127.626386]"
...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3,"[37.34862800000001, 126.659157]"
5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1,"[37.419259, 126.634377]"
5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0,"[37.42993, 126.623233]"
5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3,"[37.43146, 126.614248]"
5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9,"[37.655434, 125.713257]"

In [120]:
gyo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5443 entries, 0 to 5442
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   교량명             5443 non-null   object
 1   시도명             5443 non-null   object
 2   시군구명            5443 non-null   object
 3   교량시작점위도         5443 non-null   float64
 4   교량시작점경도         5443 non-null   float64
 5   교량종료점위도         5443 non-null   float64
 6   교량종료점경도         5443 non-null   float64
 7   교량높이            5443 non-null   float64
 8   location_start  5443 non-null   object
dtypes: float64(5), object(4)
memory usage: 382.8+ KB

In [13]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.2.0-py2.py3-none-any.whl (4.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.2.0

WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\users\shin\anaconda3\python.exe -m pip install --upgrade pip' command.

In [14]:
from haversine import haversine

In [47]:
suwi_station_df = pd.read_csv("file_data\수위관측소_좌표변환.csv")

In [48]:
suwi_station_df

,Unnamed: 0,Unnamed: 0.1,station_code,station_name,address,etc_address,longitude,latitude,zero_elevation,warning_wl,alarm_wl,pfh,tr_lat,tr_long
0,0,97,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,37.106667,127.433611
1,1,98,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54,56.683,4.0,5.0,5.60,37.115000,127.635278
2,2,100,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45,50.945,5.5,6.5,8.69,37.162500,127.634167
3,3,101,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08,42.076,5.5,7.0,8.26,37.202222,127.719167
4,4,102,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52,38.400,6.0,8.0,9.92,37.231111,127.713889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,133,289,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37,NaN,NaN,NaN,NaN,37.560278,126.601389
134,134,290,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40,NaN,NaN,NaN,NaN,37.561111,126.602778
135,135,291,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54,35.374,NaN,NaN,NaN,37.348333,126.875000
136,136,292,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22,10.475,NaN,NaN,NaN,37.322778,126.856944
137,137,293,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02,NaN,NaN,NaN,NaN,37.000556,126.800000

In [49]:
suwi_station_df = suwi_station_df.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "zero_elevation", "warning_wl", "alarm_wl", "pfh"])

In [50]:
suwi_station_df.isna().sum()

station_code    0
station_name    0
address         2
etc_address     2
longitude       0
latitude        0
tr_lat          0
tr_long         0
dtype: int64

In [51]:
suwi_station_df.loc[suwi_station_df["station_name"]=="굴포천(내)"]

,station_code,station_name,address,etc_address,longitude,latitude,tr_lat,tr_long
78,1019640,굴포천(내),NaN,NaN,126-45-35,37-31-23,37.523056,126.759722

In [52]:
suwi_station_df["address"][78] = "인천광역시 부평구"
suwi_station_df["etc_address"][78] = "삼산1동 325-326"

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
suwi_station_df.loc[suwi_station_df["station_name"]=="굴포천(한강)"]

,station_code,station_name,address,etc_address,longitude,latitude,tr_lat,tr_long
84,1019660,굴포천(한강),NaN,NaN,126-46-58,37-35-23,37.589722,126.782778

In [54]:
suwi_station_df["address"][84] = "경기도 김포시"
suwi_station_df["etc_address"][84] = "고촌읍 김포대로 177-42"

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [55]:
suwi_station_df.isna().sum()

station_code    0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
tr_lat          0
tr_long         0
dtype: int64

In [56]:
location_list = [[str(suwi_station_df["tr_lat"][i]) + ',' + str(suwi_station_df["tr_long"])] for i in range(len(suwi_station_df))]

In [57]:
location_list

[['37.10666666666667,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.115,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.1625,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.202222222222225,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.23111111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.25472222222222,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.18305555555556,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.27305555555555,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.283611111111114,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.29611111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.32611111111112,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.333888888888886,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.328611111111115,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.266944444444434,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.46416666666667,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.33305555555556,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.4225,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.3825,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.38111111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.40111111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.40111111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.40833333333333,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.38861111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.46611111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.48638888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.511666666666656,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.524722222222216,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.883055555555565,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.874722222222225,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.831388888888895,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.755,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.720833333333346,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.723333333333336,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.73388888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.718055555555566,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.59555555555556,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.33222222222223,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.406388888888884,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.3925,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.399166666666666,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.428888888888885,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.47138888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.525,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.52722222222222,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.54166666666666,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.5475,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.54444444444445,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.740277777777784,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.70944444444445,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.691666666666656,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.59861111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.65,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.64527777777778,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.60388888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.54555555555555,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.524166666666666,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.37,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.46888888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.49805555555556,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.51944444444445,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.52305555555555,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.53333333333333,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.7375,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.65277777777778,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.62416666666667,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.5925,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.51611111111111,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.514444444444436,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.516666666666666,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.40472222222222,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.452222222222225,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],
 ['37.47888888888889,0      127.433611\n1      127.635278\n2      127.634167\n3      127.719167\n4      127.713889\n          ...    \n133    126.601389\n134    126.602778\n135    126.875000\n136    126.856944\n137    126.800000\nName: tr_long, Length: 138, dtype: float64'],

In [58]:
type(suwi_station_df["tr_lat"][0])

numpy.float64

In [ ]:
# 다른 파일을 쓰자...

In [60]:
wl_station_df = pd.read_csv("file_data\수위_관측소_결측값_제거.csv")

In [62]:
wl_station_df.isna().sum()

Unnamed: 0      0
station_code    0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
dtype: int64

In [66]:
wl_station_df = wl_station_df.drop(["Unnamed: 0"], axis=1)

In [67]:
wl_station_df

,station_code,station_name,address,etc_address,longitude,latitude
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52
...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02

In [71]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [72]:
loc_list_wl = []

In [73]:
for i in range(0, len(wl_station_df)):
    location(wl_station_df,i, loc_list_wl)

In [74]:
loc_list_wl

[[37.10666666666667, 127.43361111111112],
 [37.115, 127.63527777777779],
 [37.1625, 127.63416666666667],
 [37.202222222222225, 127.71916666666667],
 [37.23111111111111, 127.71388888888889],
 [37.25472222222222, 127.68083333333334],
 [37.183055555555555, 127.68666666666667],
 [37.27305555555555, 127.68333333333334],
 [37.28361111111111, 127.68472222222222],
 [37.29611111111111, 127.64750000000001],
 [37.32611111111112, 127.61555555555555],
 [37.33388888888889, 127.57305555555556],
 [37.328611111111115, 127.60333333333332],
 [37.26694444444444, 127.46083333333334],
 [37.46416666666667, 127.54305555555555],
 [37.33305555555556, 127.535],
 [37.4225, 127.62972222222221],
 [37.3825, 127.5625],
 [37.38111111111111, 127.54972222222221],
 [37.401111111111106, 127.5375],
 [37.401111111111106, 127.53777777777778],
 [37.40833333333333, 127.54138888888889],
 [37.38861111111111, 127.4888888888889],
 [37.46611111111111, 127.5275],
 [37.48638888888889, 127.49],
 [37.51166666666666, 127.65111111111112],
 [37.52472222222222, 127.37166666666666],
 [37.88305555555556, 127.54833333333333],
 [37.874722222222225, 127.52777777777777],
 [37.831388888888895, 127.51805555555555],
 [37.755, 127.41027777777778],
 [37.72083333333334, 127.42444444444445],
 [37.723333333333336, 127.4225],
 [37.73388888888889, 127.41472222222222],
 [37.71805555555556, 127.41000000000001],
 [37.595555555555556, 127.33916666666666],
 [37.33222222222223, 127.23916666666666],
 [37.406388888888884, 127.26305555555555],
 [37.3925, 127.25166666666667],
 [37.399166666666666, 127.29277777777777],
 [37.428888888888885, 127.30805555555555],
 [37.47138888888889, 127.29416666666667],
 [37.525, 127.28472222222221],
 [37.52722222222222, 127.28333333333333],
 [37.541666666666664, 127.25],
 [37.5475, 127.23916666666666],
 [37.544444444444444, 127.24138888888889],
 [37.74027777777778, 127.19555555555556],
 [37.70944444444445, 127.18361111111112],
 [37.69166666666666, 127.16472222222222],
 [37.59861111111111, 126.81055555555555],
 [37.65, 127.15194444444445],
 [37.64527777777778, 127.14361111111111],
 [37.60388888888889, 127.15],
 [37.54555555555555, 127.11055555555555],
 [37.524166666666666, 127.07805555555555],
 [37.37, 127.10833333333333],
 [37.46888888888889, 127.12249999999999],
 [37.49805555555556, 127.07444444444444],
 [37.519444444444446, 127.06388888888888],
 [37.52305555555555, 127.0625],
 [37.53333333333333, 127.05],
 [37.737500000000004, 127.05333333333333],
 [37.65277777777778, 127.05388888888889],
 [37.62416666666667, 127.05],
 [37.5925, 127.07055555555556],
 [37.51611111111111, 126.99472222222222],
 [37.51444444444444, 126.95666666666666],
 [37.516666666666666, 126.95],
 [37.40472222222222, 126.90305555555557],
 [37.452222222222225, 126.8938888888889],
 [37.47888888888889, 126.84583333333333],
 [37.50833333333333, 126.87416666666665],
 [37.53194444444444, 126.76055555555556],
 [37.59861111111111, 126.81055555555555],
 [37.602222222222224, 126.79333333333334],
 [37.602222222222224, 126.79333333333334],
 [37.602222222222224, 126.79333333333334],
 [37.52305555555555, 126.75972222222222],
 [37.541666666666664, 126.76138888888889],
 [37.57333333333334, 126.74638888888889],
 [37.574444444444445, 126.75888888888889],
 [37.574444444444445, 126.75944444444444],
 [37.583333333333336, 126.77222222222223],
 [37.58972222222222, 126.78277777777778],
 [37.69583333333333, 126.66416666666667],
 [37.76027777777778, 126.76138888888889],
 [38.11083333333333, 126.96055555555556],
 [38.105000000000004, 127.01583333333333],
 [38.08972222222222, 127.00777777777778],
 [38.05638888888888, 127.0175],
 [38.12416666666667, 127.27166666666666],
 [38.09, 127.22055555555556],
 [38.06527777777777, 127.20583333333333],
 [38.0625, 127.13083333333333],
 [38.06083333333333, 127.12916666666666],
 [38.00222222222222, 127.23583333333333],
 [38.010555555555555, 127.21416666666667],
 [38.01777777777777, 127.14277777777778],
 [38.02305555555555, 127.13805555555557],
 [38.08722222222222, 127.07222222222222],
 [38.03666666666666, 127.10444444444444],
 [38.03611111111111, 127.10388888888889],
 [38.03138888888889, 127.0761111111111],
 [37.88, 127.05083333333333],
 [37.99277777777778, 127.07666666666667],
 [38.00888888888889, 127.05611111111111],
 [38.026944444444446, 126.98333333333333],
 [37.984722222222224, 126.91888888888889],
 [38.00277777777778, 126.87805555555555],
 [37.90416666666667, 126.74194444444444],
 [37.821111111111115, 126.78388888888888],
 [37.2175, 127.02027777777778],
 [36.9975, 127.32888888888888],
 [37.00222222222222, 127.26777777777778],
 [37.08166666666667, 127.27194444444444],
 [36.97361111111111, 127.18277777777779],
 [37.11027777777778, 127.18444444444445],
 [36.98361111111111, 127.08],
 [37.135, 127.06],
 [37.12361111111111, 126.99972222222222],
 [37.095, 127.05194444444444],
 [37.096111111111114, 127.02888888888889],
 [37.052499999999995, 126.9975],
 [37.016666666666666, 127.01666666666667],
 [36.97805555555556, 127.03361111111111],
 [36.96805555555556, 126.97583333333334],
 [36.93333333333333, 127.0],
 [36.980000000000004, 126.92805555555556],
 [36.980000000000004, 126.92805555555556],
 [37.731944444444444, 126.52222222222223],
 [37.56111111111111, 126.60416666666666],
 [37.56055555555555, 126.60305555555556],
 [37.56027777777778, 126.60138888888888],
 [37.56111111111111, 126.60277777777777],
 [37.348333333333336, 126.875],
 [37.32277777777778, 126.85694444444444],
 [37.00055555555556, 126.8]]

In [75]:
wl_station_df["location"] = loc_list_wl

In [140]:
gyo_name = []
def closest_station(x):
    for i in range(len(wl_station_df)):
        min_index = 0
        for j in range(len(gyo_df)):
            a = haversine(wl_station_df['location'][i], gyo_df['location_start'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        gyo_name.append(gyo_df['교량명'][min_index])

In [121]:
closest_station(wl_station_df)

In [122]:
gyo_name

['한평교',
 '진암교',
 '청미천교(창원)',
 '사곡교',
 '적금교(인천)',
 '남한강교(인천)',
 '덕평1교',
 '이호육교',
 '이호육교',
 '여주대교',
 '가산교',
 '율극교',
 '백석교',
 '복하교',
 '원덕1교',
 '귀백1교(양평)',
 '곡수2교',
 '보통1교(원주)',
 '남한강대교(광주)',
 '이포대교',
 '이포대교',
 '이포대교',
 '도곡1교(광주)',
 '흑천교',
 '교평교',
 '봉상IC교',
 '신원교',
 '목동교',
 '가북교',
 '경강교(신)',
 '산장1교',
 '신청평대교',
 '신청평1교',
 '청평2교',
 '신청평대교',
 '문호1교',
 '(신)왕산교',
 '광주1육',
 '경안대교(하)',
 '도평교',
 '무갑교',
 '광동교(상)',
 '봉안대교(하)',
 '봉안대교(하)',
 '팔당육교',
 '팔당교',
 '팔당교',
 '부평1육교',
 '연평대교',
 '연평IC교',
 '행주IC2육교',
 '진관교',
 '퇴계원교',
 '왕숙교',
 '아차산대교(상행)',
 '잠실철교(도로교)',
 '궁내1교(서울)',
 '대곡교',
 '탄천2교',
 '탄천2교',
 '탄천2교',
 '성수대교',
 '신곡IC교',
 '창동교',
 '월계2교',
 '겸재교',
 '반포대교통과교',
 '한강대교(신교)',
 '한강대교(신교)',
 '삼막교',
 '시흥대교',
 '광화교',
 '신정양천 정문 진입로',
 '도두리2교',
 '행주IC2육교',
 '전호교',
 '전호교',
 '전호교',
 '천상교',
 '대장1교',
 '노오지JC램프C교',
 '굴포천1교',
 '굴포천1교',
 '굴포천교',
 '김포아라대교',
 '장월IC램프A교',
 '교하신교',
 '북삼교',
 '선곡교',
 '북삼교',
 '임진교',
 '근홍교(하)',
 '대회산교',
 '영로대교',
 '칠팔교',
 '칠팔교',
 '양문교',
 '대사교',
 '신백의교',
 '신백의교',
 '애미교',
 '궁평교',
 '궁평교',
 '고탄교(신)',
 '은현IC교',
 '초성과선교',
 '사랑교',
 '삼화교',
 '비룡대교',
 '사미천교',
 '통일대교',
 '연풍과선교',
 '대황교',
 '금광교',
 '옥천교',
 '봉산1교',
 '안성천교(서울1)',
 '수역1교',
 '군문교',
 '탑동대교',
 '수직교',
 '진위1교',
 '적봉교',
 '동연교(청북)',
 '궁안교(하)',
 '창내교',
 '삼정교',
 '신대IC교',
 '안중고가차도',
 '안중고가차도',
 '강화교',
 '장도1교',
 '장도1교',
 '장도1교',
 '장도1교',
 '안산JCT3교(인천2)',
 '성포교',
 '남양대교']

In [123]:
len(gyo_name)

138

In [126]:
wl_station_df["bridge_name"] = gyo_name

In [127]:
wl_station_df

,station_code,station_name,address,etc_address,longitude,latitude,location,bridge_name
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,"[37.10666666666667, 127.43361111111112]",한평교
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54,"[37.115, 127.63527777777779]",진암교
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45,"[37.1625, 127.63416666666667]",청미천교(창원)
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08,"[37.202222222222225, 127.71916666666667]",사곡교
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52,"[37.23111111111111, 127.71388888888889]",적금교(인천)
...,...,...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37,"[37.56027777777778, 126.60138888888888]",장도1교
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40,"[37.56111111111111, 126.60277777777777]",장도1교
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54,"[37.348333333333336, 126.875]",안산JCT3교(인천2)
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22,"[37.32277777777778, 126.85694444444444]",성포교
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02,"[37.00055555555556, 126.8]",남양대교

In [128]:
# 위치가 잘 맞는지 시각화를 통하여 확인
import folium
m = folium.Map([37.5665, 126.9780], zoom_start=9)

In [131]:
for i in range(len(wl_station_df)):
    folium.Marker(wl_station_df["location"][i], popup=wl_station_df['bridge_name'][i], icon=folium.Icon(color='red'), draggable=True).add_to(m)

In [133]:
for i in range(len(gyo_df)):
    folium.Marker(gyo_df['location_start'][i], popup=gyo_df['교량명'][i]).add_to(m)

In [ ]:
m # 코드 실행 시, 주피터 노트북 속도가 많이 저하되므로 주의

In [ ]:
# 교량의 개수에 비해 하천 관측소의 개수가 매우 적다
# 우리는 특정 교량이 어떤 하천의 수위에 영향을 받는지를 알고 싶음
# -> 하천 관측소 기준이 아니라 교량을 기준으로 다시 매칭

# 특정 교량과 가장 가까운 하천 수위 관측소 찾기

In [141]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이,location_start
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6,"[37.100899, 127.064133]"
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5,"[37.133443, 127.602141]"
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0,"[37.200325, 127.545522]"
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0,"[37.225055, 127.524158]"
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0,"[37.149231, 127.626386]"
...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3,"[37.34862800000001, 126.659157]"
5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1,"[37.419259, 126.634377]"
5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0,"[37.42993, 126.623233]"
5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3,"[37.43146, 126.614248]"
5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9,"[37.655434, 125.713257]"

In [142]:
wl_station_df

,station_code,station_name,address,etc_address,longitude,latitude,location,bridge_name
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,"[37.10666666666667, 127.43361111111112]",한평교
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54,"[37.115, 127.63527777777779]",진암교
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45,"[37.1625, 127.63416666666667]",청미천교(창원)
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08,"[37.202222222222225, 127.71916666666667]",사곡교
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52,"[37.23111111111111, 127.71388888888889]",적금교(인천)
...,...,...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37,"[37.56027777777778, 126.60138888888888]",장도1교
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40,"[37.56111111111111, 126.60277777777777]",장도1교
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54,"[37.348333333333336, 126.875]",안산JCT3교(인천2)
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22,"[37.32277777777778, 126.85694444444444]",성포교
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02,"[37.00055555555556, 126.8]",남양대교

In [145]:
wl_station_code = []
def closest_station1(x):
    for i in range(len(gyo_df)):
        min_index = 0
        for j in range(len(wl_station_df)):
            a = haversine(gyo_df['location_start'][i], wl_station_df['location'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        wl_station_code.append(wl_station_df['station_code'][min_index])

In [146]:
closest_station1(wl_station_df)

In [147]:
wl_station_code

[1101663,
 1007605,
 1007615,
 1007645,
 1007615,
 1007615,
 1101675,
 1101620,
 1101610,
 1019660,
 1007645,
 1007640,
 1016695,
 1016695,
 1019660,
 1101696,
 1101675,
 1101635,
 1101675,
 1101675,
 1101609,
 1101609,
 1101609,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1101670,
 1101650,
 1101650,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1007645,
 1007645,
 1007645,
 1101650,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016655,
 1016655,
 1016655,
 1201620,
 1201620,
 1101696,
 1101696,
 1101696,
 1101696,
 1007645,
 1007650,
 1007640,
 1101635,
 1101635,
 1101635,
 1101635,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007605,
 1007605,
 1007605,
 1019653,
 1007641,
 1007655,
 1007634,
 1007634,
 1007634,
 1007633,
 1007634,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1101615,
 1101696,
 1016607,
 1101690,
 1101635,
 1101610,
 1018650,
 1018650,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016655,
 1007605,
 1007605,
 1007605,
 1007605,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101605,
 1101605,
 1101605,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1202660,
 1101650,
 1019653,
 1019653,
 1019653,
 1019653,
 1019653,
 1019653,
 1019660,
 1101610,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101670,
 1101635,
 1101620,
 1101625,
 1101625,
 1101625,
 1101625,
 1101675,
 1101675,
 1101675,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1101650,
 1101650,
 1101650,
 1101650,
 1202670,
 1019653,
 1019653,
 1019637,
 1019653,
 1007635,
 1007635,
 1007635,
 1007635,
 1007635,
 1007635,
 1007635,
 1007639,
 1007639,
 1202670,
 1202670,
 1202670,
 1202670,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1202670,
 1202670,
 1202670,
 1202670,
 1007604,
 1101605,
 1101605,
 1101605,
 1101605,
 1019660,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101650,
 1101670,
 1101670,
 1101670,
 1101670,
 1101670,
 1101670,
 1101605,
 1101605,
 1101605,
 1101605,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016655,
 1016655,
 1019660,
 1007630,
 1007630,
 1007630,
 1007630,
 1007630,
 1007630,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1101605,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1007604,
 1101609,
 1101609,
 1101609,
 1007604,
 1007604,
 1007604,
 1007604,
 1019675,
 1019675,
 1101625,
 1007662,
 1101690,
 1101690,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101685,
 1101675,
 1101675,
 1101675,
 1101675,
 1101675,
 1019660,
 1007650,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007650,
 1007650,
 1007650,
 1007650,
 1007650,
 1007650,
 1007650,
 1007650,
 1007650,
 1007645,
 1007645,
 1101650,
 1101650,
 1101650,
 1101670,
 1016695,
 1202660,
 1202660,
 1202660,
 1202660,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007645,
 1007672,
 1007672,
 1007672,
 1007672,
 1007672,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1016660,
 1101605,
 1101605,
 1101605,
 1101605,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1016607,
 1101625,
 1101625,
 1101625,
 1101625,
 1101625,
 1202660,
 1023680,
 1022662,
 1007697,
 1007697,
 1007697,
 1007685,
 1007685,
 1007664,
 1007685,
 1007685,
 1015639,
 1015639,
 1015639,
 1015639,
 1015639,
 1022650,
 1022650,
 1022655,
 1022665,
 1023660,
 1022668,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022640,
 1015680,
 1015645,
 1015645,
 1015645,
 1015645,
 1015645,
 1015645,
 1015645,
 1015644,
 1015630,
 1015630,
 1015630,
 1013655,
 1013655,
 1013655,
 1022640,
 1022640,
 1022640,
 1015645,
 1015645,
 1018610,
 1015680,
 1015680,
 1023680,
 1019680,
 1023680,
 1017690,
 1022662,
 1018625,
 1018625,
 1018625,
 1018625,
 1018625,
 1018638,
 1018610,
 1018610,
 1022670,
 1022680,
 1022666,
 1007685,
 1013655,
 1018623,
 1018630,
 1018630,
 1018630,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1007690,
 1007690,
 1023670,
 1023670,
 1023670,
 1007680,
 1007680,
 1007680,
 1018611,
 1018605,
 1017690,
 1017690,
 1017678,
 1017678,
 1017678,
 1017678,
 1007697,
 1007697,
 1007697,
 1022648,
 1015644,
 1015644,
 1007697,
 1023670,
 1017690,
 1007685,
 1007685,
 1007685,
 1007685,
 1007685,
 1007685,
 1007685,
 1007680,
 1007680,
 1007649,
 1007649,
 1007649,
 1007649,
 1022655,
 1022655,
 1022655,
 1022659,
 1022642,
 1022640,
 1022640,
 1018620,
 1018620,
 1018620,
 1018620,
 1018620,
 1013655,
 1013655,
 1007690,
 1007690,
 1007690,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1023680,
 1007649,
 1007649,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1007690,
 1015639,
 1013655,
 1013655,
 1013620,
 1013652,
 1013652,
 1013652,
 1013652,
 1013652,
 1013652,
 1018620,
 1022648,
 1022650,
 1022650,
 1022650,
 1022650,
 1022666,
 1018620,
 1018620,
 1013620,
 1019680,
 1013620,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022655,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1022662,
 1023670,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1015645,
 1015645,
 1015680,
 1015680,
 1015680,
 1015680,
 1015680,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022640,
 1022640,
 1022640,
 1022640,
 1023660,
 1023660,
 1023660,
 1023660,
 1023660,
 1023660,
 1023670,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022648,
 1022640,
 1022640,
 1013652,
 1022648,
 1022648,
 1022648,
 1022640,
 1018630,
 1023660,
 1019680,
 1019680,
 1023680,
 1023680,
 1023680,
 1023670,
 1023670,
 1023670,
 1023670,
 1023670,
 1018630,
 1018630,
 1018630,
 1018630,
 1019680,
 1023670,
 1023662,
 1023662,
 1023660,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1018620,
 1018620,
 1018620,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1015630,
 1007685,
 1007685,
 1018630,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1018630,
 1018630,
 1018623,
 1018623,
 1018623,
 1018623,
 1018623,
 1018623,
 1018635,
 1018630,
 1018630,
 1018630,
 1018625,
 1018625,
 1018625,
 1018630,
 1018630,
 1018630,
 1018630,
 1018635,
 1018635,
 1018630,
 1018630,
 1018623,
 1018623,
 1023640,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1022668,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1022668,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1018665,
 1023670,
 1007685,
 1007680,
 1007685,
 1007685,
 1007685,
 1015639,
 1015639,
 1015639,
 1015639,
 1018625,
 1022642,
 1022643,
 1022643,
 1022642,
 1018635,
 1018635,
 1018635,
 1018635,
 1018623,
 1018623,
 1018623,
 1022662,
 1022662,
 1022662,
 1022662,
 1022662,
 1022662,
 1022662,
 1022662,
 1022662,
 1023640,
 1023640,
 1023640,
 1023640,
 1023660,
 1023660,
 1023660,
 1023640,
 1023660,
 1018611,
 1022648,
 1018635,
 1022668,
 1022668,
 1007697,
 1022666,
 1022666,
 1022666,
 1022666,
 1022666,
 1022666,
 1022666,
 1022666,
 1022666,
 1022680,
 1022680,
 1018625,
 1022640,
 1022643,
 1022668,
 1023680,
 1018620,
 1022648,
 1018640,
 1018640,
 1018640,
 1018640,
 1018640,
 1007645,
 1007605,
 1101620,
 1101620,
 1007604,
 1007645,
 1101650,
 1101650,
 1007605,
 1016695,
 1016695,
 1007640,
 1101625,
 1101625,
 1017678,
 1101609,
 1101609,
 1007690,
 1101605,
 1016607,
 1007653,
 1101609,
 1101609,
 1019675,
 1007604,
 1007690,
 1015680,
 1007634,
 1007645,
 1101609,
 1016607,
 1007653,
 1007645,
 1016607,
 1007690,
 1016670,
 1016695,
 1101625,
 1007690,
 1015680,
 1015680,
 1101615,
 1007640,
 1101625,
 1101650,
 1007604,
 1007690,
 1101625,
 1007649,
 1007649,
 1016607,
 1101625,
 1202660,
 1202660,
 1202660,
 1202660,
 1007604,
 1007690,
 1101625,
 1016660,
 1007690,
 1007690,
 1007645,
 1007697,
 1007604,
 1101625,
 1016607,
 1016670,
 1007645,
 1101625,
 1019675,
 1007634,
 1007653,
 1201620,
 1019675,
 ...]

In [148]:
gyo_df["wl_station_code"] = wl_station_code

In [149]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이,location_start,wl_station_code
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6,"[37.100899, 127.064133]",1101663
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5,"[37.133443, 127.602141]",1007605
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0,"[37.200325, 127.545522]",1007615
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0,"[37.225055, 127.524158]",1007645
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0,"[37.149231, 127.626386]",1007615
...,...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3,"[37.34862800000001, 126.659157]",1202660
5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1,"[37.419259, 126.634377]",1201653
5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0,"[37.42993, 126.623233]",1201653
5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3,"[37.43146, 126.614248]",1201653
5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9,"[37.655434, 125.713257]",1201620

In [ ]:
# 근데 이게 맞나...? 아직 모델에 대한 이해도가 부족함
# Y: 침수 여부 == (특정 교량의 높이 - 해당하는 하천의 예상 수위) 1. < 0: 침수O / 2. >= 0: 침수X
# Y: 침수 여부 -> 이 모델을 위해서 Y: 하천의 예상 수위 -> 이 모델을 활용해야 함
# Y: 하천의 예상 수위 = 해당 하천과 가장 가까운 강수량 관측소의 강수량 + 해당 하천에 영향을 주는 댐의 방류량
# 근데 과거 데이터면 몰라도 실시간 강수량을 관측소마다 미리 알 수 있나?

# 특정 교량의 1시간 뒤 침수 여부 == (특정 교량의 높이 - 특정 교량에 해당하는 1시간 뒤 예상 하천 수위)
# 특정 교량에 해당하는 강수량 + 특정 교량에 영향을 미치는 댐의 방류량

# 특정 하천의 특정 시간의 수위 = 특정 하천과 가까운 관측소의 특정 시간의 강수량 + 특정 하천에 영향을 미치는 댐의 특정 시간의 방류량
# 다중선형회귀분석을 통해 강수량과 특정 댐의 방류량이 하천 수위에 어떻게, 얼마큼 영향을 미치는지 확인(아마 양의 선형 관계)
# 근데 잠시만... 1시간 뒤 예상 하천 수위는 그러면 어떻게 구하나?
# 1시간 뒤 예상 강수량이면 몰라도 예상 댐의 방류량은 우리가 알 수 없음
# 그렇다면 하천 수위 테이블과 강수량 테이블/댐 테이블은 병합할 때 1시간의 시간차를 두어야 함
# 특정 하천의 1시간 뒤 예상 수위 = 특정 하천과 가까운 관측소의 현재 강수량 + 특정 하천에 영향을 미치는 댐의 현재 방류량

# 특정 교량과 가장 가까운 강수량 관측소 찾기

In [151]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이,location_start,wl_station_code
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6,"[37.100899, 127.064133]",1101663
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5,"[37.133443, 127.602141]",1007605
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0,"[37.200325, 127.545522]",1007615
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0,"[37.225055, 127.524158]",1007645
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0,"[37.149231, 127.626386]",1007615
...,...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3,"[37.34862800000001, 126.659157]",1202660
5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1,"[37.419259, 126.634377]",1201653
5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0,"[37.42993, 126.623233]",1201653
5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3,"[37.43146, 126.614248]",1201653
5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9,"[37.655434, 125.713257]",1201620

In [152]:
rain_station_df = pd.read_csv("file_data\강수량_관측소_api.csv")

In [153]:
rain_station_df

,Unnamed: 0,station_code,agency_name,station_name,address,etc_address,longitude,latitude
0,87,10064030,환경부,양평군(양동주민자치센터),경기도 양평군,양동면 학둔지아래길 24 양동주민자치센터,127-45-05,37-25-28
1,97,10074010,환경부,양평군(양평교),경기도 양평군,양평읍 양근리 양평교,127-29-24,37-29-11
2,98,10074020,환경부,장호원,경기도 이천군 장호원읍,창전리 읍사무소,127-37-00,37-01-00
3,99,10074030,환경부,여주시(여주대교),경기도 여주시,상동 여주대교 상류 좌안,127-38-53,37-17-43
4,100,10074040,환경부,양평군(청운면사무소),경기도 양평군,청운면 용두로 170 청운면사무소,127-42-38,37-33-23
...,...,...,...,...,...,...,...,...
87,242,11014130,환경부,안성시(안성서운중교),경기도 안성시,서운면 바우덕이로 2 안성서운중학교,127-15-47,36-56-41
88,243,11014140,환경부,파주시(적암초교),경기도 파주시,적성면 율곡로 3042 적암초등학교,127-00-15,37-59-16
89,244,12014010,한국수자원공사,아라인천TM,인천광역시 서구 오류동,1580-2,126-37-6,37-33-50
90,245,12024010,환경부,안산시(안산호동초교),경기도 안산시,상록구 성호로 70 안산호동초등학교,126-51-52,37-18-44
91,246,12024020,환경부,안산시(장상동),경기도 안산시,상록구 장상동 523 (동막골),126-52-51,37-21-03

# 결측값 처리

In [155]:
rain_station_df.isna().sum()

Unnamed: 0      0
station_code    0
agency_name     0
station_name    0
address         0
etc_address     1
longitude       0
latitude        0
dtype: int64

In [158]:
rain_station_df.loc[39]

Unnamed: 0             189
station_code      10184070
agency_name            환경부
station_name            서울
address         서울특별시 서대문구
etc_address            NaN
longitude        126-58-00
latitude         37-32-00
Name: 39, dtype: object

In [159]:
rain_station_df['address'][39] = "서울특별시 용산구"

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [160]:
rain_station_df['etc_address'][39] = "한강로동 2-398"

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [161]:
rain_station_df.isna().sum()

Unnamed: 0      0
station_code    0
agency_name     0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
dtype: int64

In [162]:
rain_station_df.to_csv("수위_관측소_api.csv")

In [164]:
rain_station_df

,Unnamed: 0,station_code,agency_name,station_name,address,etc_address,longitude,latitude
0,87,10064030,환경부,양평군(양동주민자치센터),경기도 양평군,양동면 학둔지아래길 24 양동주민자치센터,127-45-05,37-25-28
1,97,10074010,환경부,양평군(양평교),경기도 양평군,양평읍 양근리 양평교,127-29-24,37-29-11
2,98,10074020,환경부,장호원,경기도 이천군 장호원읍,창전리 읍사무소,127-37-00,37-01-00
3,99,10074030,환경부,여주시(여주대교),경기도 여주시,상동 여주대교 상류 좌안,127-38-53,37-17-43
4,100,10074040,환경부,양평군(청운면사무소),경기도 양평군,청운면 용두로 170 청운면사무소,127-42-38,37-33-23
...,...,...,...,...,...,...,...,...
87,242,11014130,환경부,안성시(안성서운중교),경기도 안성시,서운면 바우덕이로 2 안성서운중학교,127-15-47,36-56-41
88,243,11014140,환경부,파주시(적암초교),경기도 파주시,적성면 율곡로 3042 적암초등학교,127-00-15,37-59-16
89,244,12014010,한국수자원공사,아라인천TM,인천광역시 서구 오류동,1580-2,126-37-6,37-33-50
90,245,12024010,환경부,안산시(안산호동초교),경기도 안산시,상록구 성호로 70 안산호동초등학교,126-51-52,37-18-44
91,246,12024020,환경부,안산시(장상동),경기도 안산시,상록구 장상동 523 (동막골),126-52-51,37-21-03

In [ ]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [165]:
loc_list_rf = []
for i in range(0, len(rain_station_df)):
    location(rain_station_df, i, loc_list_rf)

In [166]:
loc_list_rf

[[37.42444444444444, 127.75138888888888],
 [37.48638888888889, 127.49],
 [37.016666666666666, 127.61666666666666],
 [37.29527777777778, 127.64805555555556],
 [37.55638888888888, 127.71055555555556],
 [37.276944444444446, 127.44305555555556],
 [37.1975, 127.60555555555555],
 [37.07666666666667, 127.37444444444444],
 [37.145833333333336, 127.5275],
 [37.39722222222222, 127.67944444444444],
 [37.53111111111111, 127.3461111111111],
 [37.401944444444446, 127.43972222222223],
 [37.46416666666667, 127.54305555555555],
 [37.183055555555555, 127.68666666666667],
 [37.831388888888895, 127.51805555555555],
 [37.921388888888885, 127.56611111111111],
 [37.88305555555556, 127.54833333333333],
 [37.874722222222225, 127.52777777777777],
 [37.81777777777778, 127.3536111111111],
 [37.71277777777778, 127.39666666666668],
 [37.59277777777778, 127.4775],
 [37.72277777777778, 127.42055555555557],
 [37.755, 127.41027777777778],
 [37.42944444444444, 127.25472222222223],
 [37.47805555555556, 127.18611111111112],
 [37.28111111111111, 127.22],
 [37.20277777777778, 127.24527777777777],
 [37.32972222222222, 127.24277777777777],
 [37.231388888888894, 127.28388888888888],
 [37.23361111111111, 127.18694444444445],
 [37.3925, 127.25166666666667],
 [37.406388888888884, 127.26305555555555],
 [37.52722222222222, 127.28333333333333],
 [37.74472222222222, 127.04638888888888],
 [37.78611111111111, 127.22833333333334],
 [37.344722222222224, 126.94416666666667],
 [37.39277777777778, 127.05083333333333],
 [37.541666666666664, 127.25],
 [37.63583333333333, 127.21166666666667],
 [37.53333333333333, 126.96666666666667],
 [37.495, 126.8875],
 [37.40472222222222, 126.90305555555557],
 [37.46888888888889, 127.12249999999999],
 [37.65, 127.15194444444445],
 [37.79111111111111, 127.21138888888889],
 [37.702222222222225, 127.05166666666666],
 [37.361666666666665, 127.06916666666666],
 [37.552499999999995, 127.05555555555556],
 [37.42333333333333, 126.9875],
 [37.47944444444445, 126.8125],
 [37.35305555555556, 126.94555555555556],
 [37.45138888888889, 127.15138888888889],
 [37.67472222222222, 127.08583333333333],
 [37.62416666666667, 127.05],
 [37.388888888888886, 126.98805555555556],
 [37.725833333333334, 127.19],
 [37.337500000000006, 127.11777777777777],
 [37.52722222222222, 127.28333333333333],
 [37.61527777777778, 126.71555555555555],
 [37.56916666666667, 126.76722222222222],
 [37.6, 126.79916666666666],
 [38.06527777777777, 127.11277777777777],
 [38.13527777777778, 127.07527777777777],
 [38.05638888888888, 127.0175],
 [38.11638888888889, 126.98666666666666],
 [38.103611111111114, 127.02111111111111],
 [38.12416666666667, 127.27166666666666],
 [38.00944444444445, 127.21638888888889],
 [38.00805555555556, 127.33638888888889],
 [37.91083333333333, 127.00527777777778],
 [37.96361111111111, 127.13111111111111],
 [37.830000000000005, 127.14333333333335],
 [37.90222222222222, 127.28527777777778],
 [37.90416666666667, 126.74194444444444],
 [37.856944444444444, 126.87972222222221],
 [37.780833333333334, 126.85194444444444],
 [37.92861111111111, 126.85777777777777],
 [37.09916666666667, 127.09027777777777],
 [37.00805555555556, 127.27888888888889],
 [37.16611111111111, 127.31305555555555],
 [37.081944444444446, 126.94611111111111],
 [37.21027777777778, 126.97972222222222],
 [37.096111111111114, 127.02888888888889],
 [36.98361111111111, 127.08],
 [37.226111111111116, 127.09388888888888],
 [37.141666666666666, 127.19583333333334],
 [37.02916666666667, 127.20333333333333],
 [36.94472222222222, 127.26305555555555],
 [37.98777777777778, 127.00416666666666],
 [37.56388888888888, 126.61833333333333],
 [37.31222222222222, 126.86444444444444],
 [37.350833333333334, 126.88083333333333]]

In [167]:
rain_station_df["location"] = loc_list_rf

In [169]:
rain_station_df

,Unnamed: 0,station_code,agency_name,station_name,address,etc_address,longitude,latitude,location
0,87,10064030,환경부,양평군(양동주민자치센터),경기도 양평군,양동면 학둔지아래길 24 양동주민자치센터,127-45-05,37-25-28,"[37.42444444444444, 127.75138888888888]"
1,97,10074010,환경부,양평군(양평교),경기도 양평군,양평읍 양근리 양평교,127-29-24,37-29-11,"[37.48638888888889, 127.49]"
2,98,10074020,환경부,장호원,경기도 이천군 장호원읍,창전리 읍사무소,127-37-00,37-01-00,"[37.016666666666666, 127.61666666666666]"
3,99,10074030,환경부,여주시(여주대교),경기도 여주시,상동 여주대교 상류 좌안,127-38-53,37-17-43,"[37.29527777777778, 127.64805555555556]"
4,100,10074040,환경부,양평군(청운면사무소),경기도 양평군,청운면 용두로 170 청운면사무소,127-42-38,37-33-23,"[37.55638888888888, 127.71055555555556]"
...,...,...,...,...,...,...,...,...,...
87,242,11014130,환경부,안성시(안성서운중교),경기도 안성시,서운면 바우덕이로 2 안성서운중학교,127-15-47,36-56-41,"[36.94472222222222, 127.26305555555555]"
88,243,11014140,환경부,파주시(적암초교),경기도 파주시,적성면 율곡로 3042 적암초등학교,127-00-15,37-59-16,"[37.98777777777778, 127.00416666666666]"
89,244,12014010,한국수자원공사,아라인천TM,인천광역시 서구 오류동,1580-2,126-37-6,37-33-50,"[37.56388888888888, 126.61833333333333]"
90,245,12024010,환경부,안산시(안산호동초교),경기도 안산시,상록구 성호로 70 안산호동초등학교,126-51-52,37-18-44,"[37.31222222222222, 126.86444444444444]"
91,246,12024020,환경부,안산시(장상동),경기도 안산시,상록구 장상동 523 (동막골),126-52-51,37-21-03,"[37.350833333333334, 126.88083333333333]"

In [170]:
rf_station_code = []
def closest_station2(x):
    for i in range(len(gyo_df)):
        min_index = 0
        for j in range(len(rain_station_df)):
            a = haversine(gyo_df['location_start'][i], rain_station_df['location'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        rf_station_code.append(rain_station_df['station_code'][min_index])

In [171]:
closest_station2(rain_station_df)

In [172]:
gyo_df["rf_station_code"] = rf_station_code

In [173]:
gyo_df

,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이,location_start,wl_station_code,rf_station_code
0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6,"[37.100899, 127.064133]",1101663,11014010
1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5,"[37.133443, 127.602141]",1007605,10074090
2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0,"[37.200325, 127.545522]",1007615,10074070
3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0,"[37.225055, 127.524158]",1007645,10074070
4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0,"[37.149231, 127.626386]",1007615,10074070
...,...,...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3,"[37.34862800000001, 126.659157]",1202660,12024010
5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1,"[37.419259, 126.634377]",1201653,12014010
5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0,"[37.42993, 126.623233]",1201653,12014010
5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3,"[37.43146, 126.614248]",1201653,12014010
5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9,"[37.655434, 125.713257]",1201620,12014010

In [174]:
test = pd.read_csv(r"C:\Users\Shin\Desktop\NoonMap-Project\data\file_data\수위-강수량 병합.csv")

C:\Users\Shin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [176]:
test.head(10)

,Unnamed: 0,Unnamed: 0_x,station_code,obs_date,WL,FW,Unnamed: 0_y,station_name,address,etc_address,longitude,latitude,zero_elevation,warning_wl,alarm_wl,pfh,location,pp_station,Unnamed: 0.1,rainfall
0,0,52561,1007604,2016-12-31 23:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727102,0.0
1,1,52562,1007604,2016-12-31 22:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727103,0.0
2,2,52563,1007604,2016-12-31 21:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727104,0.0
3,3,52564,1007604,2016-12-31 20:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727105,0.0
4,4,52565,1007604,2016-12-31 19:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727106,0.0
5,5,52566,1007604,2016-12-31 18:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727107,0.0
6,6,52567,1007604,2016-12-31 17:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727108,0.0
7,7,52568,1007604,2016-12-31 16:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727109,0.0
8,8,52569,1007604,2016-12-31 15:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727110,0.0
9,9,52570,1007604,2016-12-31 14:00:00,146.0,NaN,97,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,"[127.43361111111112, 37.10666666666667]",10074080,727111,0.0

In [ ]:
# 생각해보니 Y: 특정 교량의 1시간 뒤 침수 여부 / X: 특정 교량의 강수량 , 특정 교량 하천의 댐 방류량, 특정 교량의 높이
# 이렇게 하면 되나...? 팀원들과 의논 후 테이블 병합 진행하자