In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\수위_관측소_rawdata.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      138 non-null    int64
 1   station_code    138 non-null    int64
 2   station_name    138 non-null    object
 3   address         136 non-null    object
 4   etc_address     136 non-null    object
 5   longitude       138 non-null    object
 6   latitude        138 non-null    object
 7   zero_elevation  102 non-null    float64
 8   warning_wl      81 non-null     float64
 9   alarm_wl        81 non-null     float64
 10  pfh             84 non-null     float64
dtypes: float64(4), int64(2), object(5)
memory usage: 12.0+ KB

In [6]:
df.isna().sum()

Unnamed: 0         0
station_code       0
station_name       0
address            2
etc_address        2
longitude          0
latitude           0
zero_elevation    36
warning_wl        57
alarm_wl          57
pfh               54
dtype: int64

In [19]:
df

,station_code,station_name,address,etc_address,longitude,latitude
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52
...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02

In [8]:
# 불필요한 컬럼 제거
df = df.drop(columns=['Unnamed: 0', 'zero_elevation', 'warning_wl', 'alarm_wl', 'pfh'])

In [26]:
# 결측값 처리
df[df['address'].isna() == True]

    station_code station_name address etc_address  longitude   latitude
78       1019640       굴포천(내)     NaN         NaN  126-45-35  37-31-23
84       1019660      굴포천(한강)     NaN         NaN  126-46-58  37-35-23

In [35]:
df['address'][78] = '인천광역시 부평구'

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
df['etc_address'][78] = '삼산1동 325-326'

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
df['address'][84] = '경기도 김포시'

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
df['etc_address'][84] = '고촌읍 김포대로 177-42'

C:\Users\Shin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df.isna().sum()

station_code    0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
dtype: int64

In [40]:
df

,station_code,station_name,address,etc_address,longitude,latitude
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52
...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02

In [45]:
df.to_csv('수위_관측소.csv')